<a href="https://colab.research.google.com/github/CSC-122/lab7-substitution-cipher-Atonnesen/blob/main/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/DATA/olympic_medals.csv')

(a) Find the size of the data frame. How many rows, how many columns?
(b) Use the appropriate function to report the data types for all columns.
(c) Find how many unique cities matches were held at. (Hint: unique( ). For instance, the following example tells
how many unique Events held:)
len(medals['Event'].unique())
(d) Find how many medals the USA team won in total.
(e) Find the total number of medals for each Nationality. (Hint: please search for groupby() function with count.
For instance, the following example counts at how many locations each event was held. )
medals.groupby(by='Event')['Location'].count()
1

In [5]:
# find the size of data frame
size_of_dataframe = data.shape
print("size of the data frame (rows, columns):"), size_of_dataframe

size of the data frame (rows, columns):

(None, (2394, 8))

In [7]:
# data types for columns
data_types = data.dtypes
print("\nData types for all columns:\n"), data_types

Data types for all columns:

(None,
 Gender         object
 Event          object
 Location       object
 Year            int64
 Medal          object
 Name           object
 Nationality    object
 Result         object
 dtype: object)

In [11]:
# unique cities matches held
unique_locations = len(data['Location'].unique())
print("Number of unique locations:", unique_locations)

Number of unique locations: 23

(d) Find how many medals the USA team won in total. (e) Find the total number of medals for each Nationality. (Hint: please search for groupby() function with count. For instance, the following example counts at how many locations each event was held. ) medals.groupby(by='Event')['Location'].count() 1

In [19]:
# How many USA medals won
usa_medals = data[data['Nationality'] == 'USA'].shape[0]
print("Total number of medals won by the USA team:", usa_medals)

Total number of medals won by the USA team: 638

In [23]:
# medals won by each nationality
total_medals_nationality = data.groupby('Nationality').size()
print("Total number of medals won for each nationality:", total_medals_nationality)

Total number of medals won for each nationality: Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Length: 97, dtype: int64